@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@300;400;500;600;700&display=swap');
* {
  font-size: 16px;
}

body {
  background: url('./images/pattern-background-desktop.svg') no-repeat center/cover;
  height: 50vh;
  font-family: Red Hat Display;
}

.row {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.card {
  background: #fff;
  border-radius: 1rem;
  width: 25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-header>#hero-img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.plan-content {
  background-color: hsl(225, 100%, 98%);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: .5rem;
}

.left {
  display: flex;
}

#music-img {
  align-self: center;
}

.anual-plan {
  margin-left: 1rem;
}

.right {
  align-self: center;
}

.proceed-button {
  background-color: hsl(245, 75%, 52%);
  color: white;
  display: inline-block;
  width: 100%;
  padding: 0.7rem 0;
  border-radius: .5rem;
  border-style: none;
  font-size: .9rem;
  box-shadow: 0 5px 18px rgba(56, 41, 224, 0.5);
}

.proceed-button:hover {
  background-color: hsl(245, 66%, 58%);
}

.cancel-action {
  padding: 0 0 2rem 0;
}

#cancel-button:hover {
  color: hsl(224, 53%, 33%);
}

#title {
  font-size: 1.5rem;
}

#change-button {
  font-size: .9rem;
}

#change-button:hover {
  color: hsl(245, 66%, 58%);
  text-decoration: none;
}

.has-text-centered {
  text-align: center;
}

.card-padding {
  padding: 0 3rem 0 3rem;
}

.primary-color {
  color: hsl(224, 23%, 55%);
}

.is-bold {
  font-weight: bold;
}

.has-margin-0 {
  margin: 0;
}

.has-no-textdecoration:link {
  text-decoration: none;
}

.mt-1 {
  margin-top: 1.5rem;
}